@{
    ViewData["Title"] = "Welcome";
    ViewData["PageName"] = "aspnetcore_welcome";
    ViewData["Heading"] = "<i class='fal fa-graduation-cap'></i> Welcome: <span class='fw-300'>Yabraa Medical Center</span>";
}

<div class="row">
    <div class="col-xl-12">
        <div class="panel">            
            <div class="panel-container show">
                <div class="panel-content">                 
                    <h3>
                        The work team is one of the most important components of the success of any project or institution, as they represent the backbone that contributes to the development and success of the project, and work hard to achieve the defined goals.
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="panel">
            <div class="panel-container show">
                <div class="panel-content">
                    <h3>
                        The Yibra team for medical services consists of a group of professionals specialized in the field of healthcare, who work with passion and dedication to improve the health and well-being of our patients and visitors. The work team is characterized by cooperation, coordination, discipline, and flexibility, which helps to achieve the defined goals in a timely manner.
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="panel">
            <div class="panel-container show">
                <div class="panel-content">
                    <h3>
                        We are proud of our work team, and we have full confidence in their ability to provide the best medical services to our valued clients. We work hard to provide a motivating and comfortable work environment for the work team, where their efforts and contributions to achieving the institution's goals are appreciated.
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="panel">
            <div class="panel-container show">
                <div class="panel-content">
                    <h3>
                        The work team is more than just a group of individuals working together, they represent one family working in harmony and cooperation to achieve success and continuous growth.
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="row">
    <div class="col-xl-12">
        <div class="alert alert-success">
            <h5 class="mb-0">@Settings.App for @Settings.AppFlavor is based on @Settings.App HTML <strong>v@(Settings.Theme.ThemeVersion)</strong>.</h5>
        </div>
    </div>
</div>*@