<div class="d-block text-center text-white">
@*    2019 © SmartAdmin by&nbsp;<a href="https://www.gotbootstrap.com" class="text-white opacity-40 fw-500" title="gotbootstrap.com" target="_blank">gotbootstrap.com</a>
*@
    <span class="hidden-md-down fw-700">@DateTime.Now.Year &copy; All rights reserved, Yabraa Medical Center @* by&nbsp;<a href="https://wrapbootstrap.com/theme/smartadmin-asp.net-core-responsive-webapp-WB073L89G?ref=Walapa" class="text-primary fw-500" title="Walapa" target="_blank">Walapa</a>*@</span>

</div>